{% extends 'base.html'%}
{% block content%}
<section class="container">
   <div class="row">
      <div class="col">
         <form action='' method="post">
            Are you sure you want to delete this task?
            <br>
            <b>Task: {{task.task_name}}</b>
            <br>
            <b>Status: {{task.status}}</b>
            <br> <br>
            <input type = "submit" value="Delete">
            <br>
            <a href='/todos'>Go Back</a>
         </form>
      </div>
   </div>
</section>
{% endblock%}