{% extends 'base.html'%}
{% block content%}
<section class="container">
    <a href="{{ url_for('tasks.add_tasks') }}">
    <button class="add_button ">Add New Task</button>
    </a>
    <br>
    <br>
   <div class="row">
      <div class="col" >
        <div id = "todo-list">
         {% for todo in todos %}
         <ul class = "list">
            <!-- <ul id =round> -->
            <li><b>Task: {{todo.task_name}}</b>
            <!-- <br>TaskID: {{todo.id}} -->
            <br>Due: {{todo.due_date.strftime('%A %b %d %Y')}}
            <br>Status: {{todo.status}}</li>
            <a href="{{ url_for('tasks.edit_task', id=todo.id) }}">
                <button class="edit_button ">Edit Task</button>
            </a>
            <a href="{{ url_for('tasks.delete', id=todo.id) }}">
                <button class="delete_button ">Delete Task</button>
            </a>
            <br>
         </ul>
         </form>
         {% endfor %}
      </div>
      <script>
        var options = {
            valueNames: [ 'status' ]
        };
        var hackerList = new List('todo-list', options);
      </script>
      </div>
   </div>
</section>
{% endblock%}
